{% extends "baseadmin.html.twig" %}

{% block body %}
    <h3 style="text-align: center;">
        Modifier une playlist
    </h3>
    <div class="row">
        <div class="col">
            {{ form_start(formPlaylist) }}
                <div class="row">
                    {{ form_row(formPlaylist.name) }}
                </div>
                <div class="row">
                    {{ form_row(formPlaylist.description) }}
                </div>
             {{ form_end(formPlaylist) }}
        </div>
        <div class="col">
        <!-- boucle sur l'affichage des formations -->
            {% for formation in playlistformations %}
                <div class="row mt-1">
                    <div class="col-md-auto">
                        {% if formation.miniature %}
                            <a href="{{ path('formations.showone', {id:formation.id}) }}">
                                <img src="{{ formation.miniature }}">
                            </a>
                        {% endif %}  
                    </div>
                    <div class="col d-flex align-items-center">
                        <a href="{{ path('formations.showone', {id:formation.id}) }}" 
                            class="link-secondary text-decoration-none">
                            {{ formation.title }}
                        </a>          
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
                    
{% endblock %}
